.container{
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
img{
  display: block;
}
@media screen and (min-width: 1280px) {
  .sub-container {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 767px) {
  .sub-image {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px)and (max-width: 1279px) {
  .sub-image {
    margin-right: 0;
    margin-left: auto;
  }
}
.subscribe-section{
  padding-bottom: 60px;
}
@media screen and (min-width: 320px)and (min-width: 479px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
.sub-form{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: baseline;

}
@media screen and (min-width: 768px) {
  .sub-form {
    display: block;

  }
}
.sub-form__title{
  font-size: 28px;
  line-height: 120%;
  color: #2C2C2C;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .sub-form__title {
    
  font-size: 42px;
  }
}
.sub-form__text{
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #2C2C2C;
letter-spacing: 0.03em;

margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .sub-form__text {
    
  font-size: 16px;
  }
}
.sub-form__input{
padding-left: 12px;
background: #FFFFFF;
border: 0.854167px solid #FFE550;
border-radius: 30px;
height: 42px;
width: 279px;

font-weight: 400;
font-size: 12px;
line-height: 0.66;
color: #505050;
outline: none;


}
@media screen and (max-width: 767px) {
  .sub-form__input{
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .sub-form__input {
    margin-right: 22px;

  }
}
@media screen and (min-width: 1280px) {
  .sub-form__input {
    margin-right: 32px;

  }
}
.sub-form__btn{
  display: inline-block;
  padding: 11px 22px;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height:  150%;
  height: 42px;
  color: #2C2C2C;
  cursor: pointer;

  background: #BBF330;
  border-radius: 30px;
}
.sub-form__btn:hover,
.sub-form__btn:focus,
.sub-form__btn:active{
  background: #B5FF00;
}
@media screen and (max-width: 767px) {
  .sub-form__btn{
    margin-left: 178px;
  }
}

